
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p,a,input,table{
    font-family: calibri;
}
.login_cont{
    background-color: #f5f6f8;
    width:500px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin:0 auto;
}
.login_cont table{
    border-collapse:separate;
    border-spacing: 10px;
}
.login_cont form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    row-gap: 15px;
}
.login_cont form input[type="submit"]{
    color:#fff;
    background-color: #e8616d;
    cursor:pointer;
}
.login_cont input{
    font-size: 30px;
    border:0px;
    outline: none;
    height:50px;
}
.login_h{
    color:#e8616d;
    font-size: 40px;
    margin:0;
    margin-bottom: 20px;
}
.login_title{
    text-align: center;
}
.home_l1{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}
.home_l1 .l2_1{
    width:100%;
    text-align: center;
    flex: 1;
    background-color: #f5f6f8;
}
.home_l1 .l2_2{
    display: flex;
    flex: 6;
}
.home_l1 .l2_2_1{
    flex: 1;
    background-color: #f5f6f8;
}
.home_l1 .l2_2_1 table{
    width:100%;
    height: 100%;
    text-align: center;
    background-color: #f5f6f8;
    border-collapse: collapse;
    border:0px;
}
.home_l1 .l2_2_1 table td{
    cursor: pointer;
}
.home_l1 .l2_2_1 table tr:nth-of-type(odd){
    background-color: #e8616d;
}
.home_l1 .l2_2_1 table tr:nth-of-type(odd) td a{
    color:#fff;
}
.home_l1 .l2_2_1 table tr:nth-of-type(even) td a{
    color:#e8616d;
}
.home_l1 .l2_2_1 table td a{
    text-decoration: none;
    font-size: 20px;color:#fff;
}
.home_l1 .l2_2_2{
    width:100%;
    display: flex;
    flex: 5;
}
.home_frame{
    width: 100%;
    height:100%;
    margin:0px;
    border:none;
}

.reg_title{
    text-align: center;
    color: #e8616d;
}
.reg_cont{
    background-color: #f5f6f8;
    width:fit-content;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin:50px auto;
}
.reg_cont table{
    border-collapse:separate;
    border-spacing: 10px;
    font-size: 30px;
    width:100%;
}
.reg_cont form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}
.reg_cont form input[type="submit"], .reg_cont form input[type="button"]{
    color:#fff;
    background-color: #e8616d;
    cursor:pointer;
    width:100%;
}
.reg_cont input{
    font-size: 30px;
    border:0px;
    outline: none;
    height:50px;
}
 .reg_cont select{
    width:100%;
    font-size: 30px;
    text-align: center;
    outline:none;
    border:0px;
 }
.reg_gender{
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.del_form{
    width:100%;
}