.login_cont{
    background-color: #f5f6f8;
    width:500px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin:0 auto;
}
.login_cont form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    row-gap: 15px;
}
.login_cont input{
    font-size: 20px;
}
.login_h{
    color:#e8616d;
    font-size: 40px;
}